<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_metatemplates>
            <general>
                <enabled>0</enabled>
                <mode>fill_empty</mode>
            </general>
            <license>
                <license_key></license_key>
                <issued_key></issued_key>
                <issued_at>0</issued_at>
                <ip_blocked>0</ip_blocked>
                <portal_url>https://license-service.etechflow.com/license/validate</portal_url>
            </license>
            <payment>
                <stripe_secret_key></stripe_secret_key>
                <stripe_publishable_key></stripe_publishable_key>
                <stripe_currency>usd</stripe_currency>
            </payment>
        </etechflow_metatemplates>
    </default>
</config>
